<html>
<head>
	<style>
		<% if victory %>
			body{
				background: -webkit-linear-gradient(-90deg, rgba(248,252,10,1) 0, rgba(248,252,10,1) 3%, rgba(219,167,118,1) 26%, rgba(58,132,195,1) 57%, rgba(10,16,91,1) 100%);
  			background: -moz-linear-gradient(180deg, rgba(248,252,10,1) 0, rgba(248,252,10,1) 3%, rgba(219,167,118,1) 26%, rgba(58,132,195,1) 57%, rgba(10,16,91,1) 100%);
  			background: linear-gradient(180deg, rgba(248,252,10,1) 0, rgba(248,252,10,1) 3%, rgba(219,167,118,1) 26%, rgba(58,132,195,1) 57%, rgba(10,16,91,1) 100%);
			}
		<% else %>
			body{
				background-color: black;
				background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px), radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px), radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px), radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
				background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
				background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
			}			
		<% end %>

		#victory-notification{
				background: yellow;
				height: 50px;				
				padding: 0 25% 0 22%;
				margin: 0 2px 5px 2px;
				border: 1px solid black;
			}
		
		.center{			
			margin: 15px auto;
	  	width: 400px;
	  	height: 660px;
	  	border: 5px solid #000066;
	  	padding: 10px;
	  	background-color: #6d695c;
			background-image: repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)), linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
			background-size: 70px 120px; 		  	
		}
		.circle{
			width: 40px;
			height: 40px;
			background: grey;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			margin: 5px auto 5px auto;			
		}		
		.oval{
			width: 200px;
			height: 50px;
			display: table;
			-moz-border-radius: 100px / 25px;
			-webkit-border-radius: 100px / 25px;
			border-radius: 100px / 25px;			
			margin: 3px auto 4px auto;
			color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
  background: linear-gradient(180deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
  background-position: 50% 50%;   
   /*box-shadow: 0 0 7px 4px rgba(249,241,7,0.83) ;*/
		}
		.oval span{
			display: table-cell;
			vertical-align: middle;
			text-align:center;
			padding: 0 15px;
		}

		/*= table*/
		#board{
			margin: 0px auto 0px auto;
		}
		.table{
		  display: table;
		  width: 100%;		  
		  border-collapse:collapse;		  
		}
		.table-row{
			display: table-row;
			padding: 0px;			
		}
		.table-cell{
			display: table-cell;      
      /*border:#f0f0f0 1px solid;*/
      vertical-align: middle;
		}
		/*.table-row .circle:not(.action-button):hover{
			outline: none;
    	border-color: white;
    	box-shadow: 0 0 3px white;
		}*/
		.table .table-cell:nth-child(7){
			width: 68px;			
		}

		.glowing-border{
			outline: none;
    	border-color: white;
    	box-shadow: 0 0 3px white;
		}
		/*result table*/
		.results{
			padding: 0;
		}
		.table-2{
		  display: table;
		  width: 100%;
		  /*margin-left: 10px;		  */
		  height: 100%;
		  border-collapse:collapse;		  
		}
		.table-2 .table-row{
			display: table-row;
			height: 20px;
		}
		.table-2 .table-cell{
			display: table-cell;
			background-color: grey;
			padding: 0;
			width: 15px;
			height: 10px;
      border:#f0f0f0 1px solid;
		}
		.numeration{
			text-align: center;
		}

		.button{
			border: 0 none rgba(147,73,0,1);  
  border-bottom: 4px solid rgba(147,73,0,1);
  -webkit-border-radius: 7px 7px 9px 9px;
  border-radius: 7px 7px 9px 9px;
  font: normal normal bold 12px/20px "Averia Sans Libre", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
   
  text-transform: uppercase;
  /*-o-text-overflow: clip;
  text-overflow: clip;*/
  white-space: nowrap;
  background: -webkit-linear-gradient(-90deg, rgba(237,185,45,1) 0, rgba(237,212,116,1) 48%, rgba(201,128,40,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(237,185,45,1) 0, rgba(237,212,116,1) 48%, rgba(201,128,40,1) 100%);
  background: linear-gradient(180deg, rgba(237,185,45,1) 0, rgba(237,212,116,1) 48%, rgba(201,128,40,1) 100%);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgba(201,114,94,1) ;
  box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgba(201,114,94,1) ;
  text-shadow: 0 1px 1px rgba(0,0,0,0.498039) ;
		}

		.action-button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  width: 50px;
  line-height: 35px;
  position: relative;
  
  margin-left: 15px;  
 /* top: 0;
  left: 0;*/
  /*padding: 10px 20px;*/
  
}

.button:hover {
  border: 0 none rgba(198,100,7,1);
  border-bottom: 4px solid rgba(198,100,7,1);
  background: -webkit-linear-gradient(-90deg, rgba(242,192,43,1) 0, rgba(237,244,22,1) 48%, rgba(229,147,48,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(242,192,43,1) 0, rgba(237,244,22,1) 48%, rgba(229,147,48,1) 100%);
  background: linear-gradient(180deg, rgba(242,192,43,1) 0, rgba(237,244,22,1) 48%, rgba(229,147,48,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgba(249,87,54,1) ;
  box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgba(249,87,54,1) ;
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

.action-button-disable{
	display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  width: 50px;
  position: relative;
  cursor: pointer;
  margin-left: 15px;  
 /* top: 0;
  left: 0;*/
  /*padding: 10px 20px;*/
  border: 0 none rgba(147,73,0,1);  
  border-bottom: 4px solid rgba(147,73,0,1);
  -webkit-border-radius: 7px 7px 9px 9px;
  border-radius: 7px 7px 9px 9px;
  font: normal normal bold 12px/20px "Averia Sans Libre", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;  
  line-height: 35px; 
  text-transform: uppercase;
  /*-o-text-overflow: clip;
  text-overflow: clip;*/
  white-space: nowrap;
  background: -webkit-linear-gradient(-90deg, rgba(63,63,63,1) 0, rgba(147,143,143,1) 49%, rgba(63,63,63,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(63,63,63,1) 0, rgba(147,143,143,1) 49%, rgba(63,63,63,1) 100%);
  background: linear-gradient(180deg, rgba(63,63,63,1) 0, rgba(147,143,143,1) 49%, rgba(63,63,63,1) 100%);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgba(201,114,94,1) ;
  box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgba(201,114,94,1) ;
  text-shadow: 0 1px 1px rgba(0,0,0,0.498039) ;

}

.action-button-pressed {
  height: 36px;
  margin: 4px 0 0 15px;
  /*margin-left: 15px;*/
  border: none;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: -webkit-linear-gradient(-90deg, rgba(63,63,63,1) 0, rgba(147,143,143,1) 49%, rgba(63,63,63,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(63,63,63,1) 0, rgba(147,143,143,1) 49%, rgba(63,63,63,1) 100%);
  background: linear-gradient(180deg, rgba(63,63,63,1) 0, rgba(147,143,143,1) 49%, rgba(63,63,63,1) 100%);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 30ms cubic-bezier(0.42, 0, 0.58, 1);
}

		<% board.each_index do |i| %>
			<% 4.times do |j|  %>
			<% nth_circle = %q{first second third fourth}.split %>
				<%= "#table-row-#{i + 1} .#{nth_circle[j]}{" %>
				<%= "background: #{board[i][0][j]};" %>				
				<%= "}" %>
				<% f = 1 %>
				<% board[i][1][:bulls].times do %>
					<%= "#table-row-#{i + 1} .feedback-#{f}{" %>
					<%= "background: red;" %>
					<%= "}" %>
					<% f += 1 %>
				<% end %>
				<% board[i][1][:cows].times do %>
					<%= "#table-row-#{i + 1} .feedback-#{f}{" %>
					<%= "background: white;" %>
					<%= "}" %>
					<% f += 1 %>
				<% end %>
			<% end %>
		<% end %>

		
		<% if victory || board.size == 12 || give_up %>
			<% nth_circle = %q{first second third fourth}.split %>
			<% 4.times do |i|  %>			
				<%= "#code .#{nth_circle[i]}{" %>
				<%= "background: #{code[i]};" %>				
				<%= "}" %>
			<% end %>
		<% end %>


		#form div{
			display: inline;
		}
		.table-colours-container{
			position: absolute;
			margin-top: -25px;
			/*display: none;*/
		}		
		.table-of-colours{
			display: table;
			background: grey;
			border: 1px solid #000066;
		}
		.row-of-colours{
			display: table-row;
		}
		.cell-of-colours{
			display: table-cell;			
		}
		<% colours.each_index do |i| %>
			<%= ".colour-#{i}{"%>
			<%= "background: #{colours[i]};"%>
			<%= "margin: 3px;"%>
			
			<%= "width: 20px;"%>
			<%= "height: 20px;"%>
			}
		<% end %>

		#code{
			width: 100%;
			margin-left: 25px;
		  -webkit-border-radius: 10px;
		  border-radius: 10px;
		  overflow: hidden;
		  margin-bottom: 5px;
		  -webkit-box-shadow: 0 0 6px 3px rgba(0,0,0,0.5) ;
			box-shadow: 0 0 6px 3px rgba(0,0,0,0.5) ;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
		  <% if victory %>			  
						background: -webkit-linear-gradient(-90deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
			  background: -moz-linear-gradient(180deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
			  background: linear-gradient(180deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
			  border: 2px solid rgba(149,132,244,1);
			<% elsif give_up || board.size == 12 %>
				background: -webkit-linear-gradient(-90deg, rgba(0,0,0,1) 0, rgba(0,137,0,1) 69%, rgba(2,247,2,1) 100%);
			  background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0, rgba(0,137,0,1) 69%, rgba(2,247,2,1) 100%);
			  background: linear-gradient(180deg, rgba(0,0,0,1) 0, rgba(0,137,0,1) 69%, rgba(2,247,2,1) 100%);
			  border: 2px solid rgba(15,79,47,1);
		  <% end %>  
		}
		#board-header{
			width: 100%;
			display: flex;
		}
		#board-header > div:nth-child(1){
			width: 250px;
    	float: left;
		}
		#code-master{
			width: 100%;
			height: 50px;
			margin-left: 25px;
		  -webkit-border-radius: 10px;
		  border-radius: 10px;
		  font: normal normal bold 24px/40px "Averia Sans Libre", Helvetica, sans-serif;
		  color: rgb(255, 255, 255);
		  text-align: center;
		  line-height: 45px;
		  overflow: hidden;
		  margin-bottom: 5px;
		  -webkit-box-shadow: 0 0 6px 3px rgba(0,0,0,0.5) ;
			box-shadow: 0 0 6px 3px rgba(0,0,0,0.5) ;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
			background: -webkit-linear-gradient(-90deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
			  background: -moz-linear-gradient(180deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
			  background: linear-gradient(180deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
			  border: 2px solid rgba(15,79,47,1);
		}
		#button-give-up{
			background: -webkit-linear-gradient(-270deg, rgba(242,0,0,1) 0, rgba(239,103,103,1) 50%, rgba(242,0,0,1) 100%);
  background: -moz-linear-gradient(360deg, rgba(242,0,0,1) 0, rgba(239,103,103,1) 50%, rgba(242,0,0,1) 100%);
  background: linear-gradient(360deg, rgba(242,0,0,1) 0, rgba(239,103,103,1) 50%, rgba(242,0,0,1) 100%);
  		border: 0 none rgba(127,98,117,1);  
  		border-bottom: 4px solid rgba(127,98,117,1);  
		}
		#button-give-up:hover{
			background: -webkit-linear-gradient(-270deg, rgba(242,55,55,1) 0, rgba(242,135,135,1) 50%, rgba(242,55,55,1) 100%);
  		background: -moz-linear-gradient(360deg, rgba(242,55,55,1) 0, rgba(242,135,135,1) 50%, rgba(242,55,55,1) 100%);
  		background: linear-gradient(360deg, rgba(242,55,55,1) 0, rgba(242,135,135,1) 50%, rgba(242,55,55,1) 100%);
  
		}
		#board-header > div:nth-child(2){
			line-height: 50px;
			width: 100px;
			height: 50px;
			margin-left: 50px;
		}
	</style>	
</head>

<body>	

	<div class="center">
		<div id="board-header">
			<div>
		<% if victory || board.size == 12 || give_up %>
		<div class="table" id="code">
			<div class="table-row">			
				<div class="table-cell">				 		
					<div class="circle first"></div>
				</div>
				<div class="table-cell">
				 	<div class="circle second"></div>
				</div>
				<div class="table-cell">
				 	<div class="circle third"></div>
				</div>
				 <div class="table-cell">
			  	<div class="circle fourth"></div>
			  </div>
			</div>
		</div>				
		<% else %>
			<div id="code-master">				
					CODE											
			</div>
		<% end %>
	</div>
	<% if give_up %>
		<div class="button" id="button-restart">
			restart
		</div>
	<% else %>
		<div class="button" id="button-give-up">
			give up
		</div>
	<% end %>
	
	</div>
		<div id="board">
			<div class="table">			
				<div class="table-row" id="table-row-12">
					<div class="table-cell numeration">12</div>
				 	<div class="table-cell">				 		
				 		<div class="circle first">
				 			<!-- <div class="showme">Here I am!</div> -->
				 		</div>
				 	</div>
			    <div class="table-cell">
			    	<div class="circle second"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle third"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle fourth"></div>
			    </div>
			    <div class="table-cell results">
			    	<div class="table-2">
			    		<div class="table-row">
			    			<div class="table-cell feedback-1"></div>
			    			<div class="table-cell feedback-2"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="table-cell feedback-3"></div>
			    			<div class="table-cell feedback-4"></div>
			    		</div>
			    	</div>
			    </div>
			    <div class="table-cell">
						<% if board.size == 11 %>
			    	<div class="action-button button">CHECK</div>
			    	<% elsif board.size < 11 %>
			    	<div class="action-button-disable">CHECK</div>
			    	<% else %>
			    	<div class="action-button-pressed"></div>
			    	<% end %>
			    </div>
				</div>
				<div class="table-row" id="table-row-11">
					<div class="table-cell numeration">11</div>
				 	<div class="table-cell">				 		
				 		<div class="circle first"></div>
				 	</div>
			    <div class="table-cell">
			    	<div class="circle second"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle third"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle fourth"></div>
			    </div>
			    <div class="table-cell results">
			    	<div class="table-2">
			    		<div class="table-row">
			    			<div class="table-cell feedback-1"></div>
			    			<div class="table-cell feedback-2"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="table-cell feedback-3"></div>
			    			<div class="table-cell feedback-4"></div>
			    		</div>
			    	</div>
			    </div>
			    <div class="table-cell">
			    	<% if board.size == 10 %>
			    	<div class="action-button button">CHECK</div>
			    	<% elsif board.size < 10 %>
			    	<div class="action-button-disable">CHECK</div>
			    	<% else %>
			    	<div class="action-button-pressed"></div>
			    	<% end %>
			    </div>
				</div>
				<div class="table-row" id="table-row-10">
					<div class="table-cell numeration">10</div>
				 	<div class="table-cell">				 		
				 		<div class="circle first"></div>
				 	</div>
			    <div class="table-cell">
			    	<div class="circle second"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle third"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle fourth"></div>
			    </div>
			    <div class="table-cell results">
			    	<div class="table-2">
			    		<div class="table-row">
			    			<div class="table-cell feedback-1"></div>
			    			<div class="table-cell feedback-2"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="table-cell feedback-3"></div>
			    			<div class="table-cell feedback-4"></div>
			    		</div>
			    	</div>
			    </div>
			    <div class="table-cell">
			    	<% if board.size == 9 %>
			    	<div class="action-button button">CHECK</div>
			    	<% elsif board.size < 9 %>
			    	<div class="action-button-disable">CHECK</div>
			    	<% else %>
			    	<div class="action-button-pressed"></div>
			    	<% end %>
			    </div>
				</div>
				<div class="table-row" id="table-row-9">
					<div class="table-cell numeration">9</div>
				 	<div class="table-cell">				 		
				 		<div class="circle first"></div>
				 	</div>
			    <div class="table-cell">
			    	<div class="circle second"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle third"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle fourth"></div>
			    </div>
			    <div class="table-cell results">
			    	<div class="table-2">
			    		<div class="table-row">
			    			<div class="table-cell feedback-1"></div>
			    			<div class="table-cell feedback-2"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="table-cell feedback-3"></div>
			    			<div class="table-cell feedback-4"></div>
			    		</div>
			    	</div>
			    </div>
			    <div class="table-cell">
			    	<% if board.size == 8 %>
			    	<div class="action-button button">CHECK</div>
			    	<% elsif board.size < 8 %>
			    	<div class="action-button-disable">CHECK</div>
			    	<% else %>
			    	<div class="action-button-pressed"></div>
			    	<% end %>
			    </div>
				</div>
				<div class="table-row" id="table-row-8">
					<div class="table-cell numeration">8</div>
				 	<div class="table-cell">				 		
				 		<div class="circle first"></div>
				 	</div>
			    <div class="table-cell">
			    	<div class="circle second"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle third"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle fourth"></div>
			    </div>
			    <div class="table-cell results">
			    	<div class="table-2">
			    		<div class="table-row">
			    			<div class="table-cell feedback-1"></div>
			    			<div class="table-cell feedback-2"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="table-cell feedback-3"></div>
			    			<div class="table-cell feedback-4"></div>
			    		</div>
			    	</div>
			    </div>
			    <div class="table-cell">
			    	<% if board.size == 7 %>
			    	<div class="action-button button">CHECK</div>
			    	<% elsif board.size < 7 %>
			    	<div class="action-button-disable">CHECK</div>
			    	<% else %>
			    	<div class="action-button-pressed"></div>
			    	<% end %>
			    </div>
				</div>
				<div class="table-row" id="table-row-7">
					<div class="table-cell numeration">7</div>
				 	<div class="table-cell">				 		
				 		<div class="circle first"></div>
				 	</div>
			    <div class="table-cell">
			    	<div class="circle second"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle third"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle fourth"></div>
			    </div>
			    <div class="table-cell results">
			    	<div class="table-2">
			    		<div class="table-row">
			    			<div class="table-cell feedback-1"></div>
			    			<div class="table-cell feedback-2"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="table-cell feedback-3"></div>
			    			<div class="table-cell feedback-4"></div>
			    		</div>
			    	</div>
			    </div>
			    <div class="table-cell">
			    	<% if board.size == 6 %>
			    	<div class="action-button button">CHECK</div>
			    	<% elsif board.size < 6 %>
			    	<div class="action-button-disable">CHECK</div>
			    	<% else %>
			    	<div class="action-button-pressed"></div>
			    	<% end %>
			    </div>
				</div>
				<div class="table-row" id="table-row-6">
					<div class="table-cell numeration">6</div>
				 	<div class="table-cell">				 		
				 		<div class="circle first"></div>
				 	</div>
			    <div class="table-cell">
			    	<div class="circle second"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle third"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle fourth"></div>
			    </div>
			    <div class="table-cell results">
			    	<div class="table-2">
			    		<div class="table-row">
			    			<div class="table-cell feedback-1"></div>
			    			<div class="table-cell feedback-2"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="table-cell feedback-3"></div>
			    			<div class="table-cell feedback-4"></div>
			    		</div>
			    	</div>
			    </div>
			    <div class="table-cell">
			    	<% if board.size == 5 %>
			    	<div class="action-button button">CHECK</div>
			    	<% elsif board.size < 5 %>
			    	<div class="action-button-disable">CHECK</div>
			    	<% else %>
			    	<div class="action-button-pressed"></div>
			    	<% end %>
			    </div>
				</div>
				<div class="table-row" id="table-row-5">
					<div class="table-cell numeration">5</div>
				 	<div class="table-cell">				 		
				 		<div class="circle first"></div>
				 	</div>
			    <div class="table-cell">
			    	<div class="circle second"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle third"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle fourth"></div>
			    </div>
			    <div class="table-cell results">
			    	<div class="table-2">
			    		<div class="table-row">
			    			<div class="table-cell feedback-1"></div>
			    			<div class="table-cell feedback-2"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="table-cell feedback-3"></div>
			    			<div class="table-cell feedback-4"></div>
			    		</div>
			    	</div>
			    </div>
			    <div class="table-cell">
			    	<% if board.size == 4 %>
			    	<div class="action-button button">CHECK</div>
			    	<% elsif board.size < 4 %>
			    	<div class="action-button-disable">CHECK</div>
			    	<% else %>
			    	<div class="action-button-pressed"></div>
			    	<% end %>
			    </div>
				</div>
				<div class="table-row" id="table-row-4">
					<div class="table-cell numeration">4</div>
				 	<div class="table-cell">				 		
				 		<div class="circle first"></div>
				 	</div>
			    <div class="table-cell">
			    	<div class="circle second"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle third"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle fourth"></div>
			    </div>
			    <div class="table-cell results">
			    	<div class="table-2">
			    		<div class="table-row">
			    			<div class="table-cell feedback-1"></div>
			    			<div class="table-cell feedback-2"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="table-cell feedback-3"></div>
			    			<div class="table-cell feedback-4"></div>
			    		</div>
			    	</div>
			    </div>
			    <div class="table-cell">
			    	<% if board.size == 3 %>
			    	<div class="action-button button">CHECK</div>
			    	<% elsif board.size < 3 %>
			    	<div class="action-button-disable">CHECK</div>
			    	<% else %>
			    	<div class="action-button-pressed"></div>
			    	<% end %>
			    </div>
				</div>
				<div class="table-row" id="table-row-3">
					<div class="table-cell numeration">3</div>
				 	<div class="table-cell">				 		
				 		<div class="circle first"></div>
				 	</div>
			    <div class="table-cell">
			    	<div class="circle second"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle third"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle fourth"></div>
			    </div>
			    <div class="table-cell results">
			    	<div class="table-2">
			    		<div class="table-row">
			    			<div class="table-cell feedback-1"></div>
			    			<div class="table-cell feedback-2"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="table-cell feedback-3"></div>
			    			<div class="table-cell feedback-4"></div>
			    		</div>
			    	</div>
			    </div>
			    <div class="table-cell">
			    	<% if board.size == 2 %>
			    	<div class="action-button button">CHECK</div>
			    	<% elsif board.size < 2 %>
			    	<div class="action-button-disable">CHECK</div>
			    	<% else %>
			    	<div class="action-button-pressed"></div>
			    	<% end %>
			    </div>
				</div>
				<div class="table-row" id="table-row-2">
					<div class="table-cell numeration">2</div>
				 	<div class="table-cell">				 		
				 		<div class="circle first"></div>
				 	</div>
			    <div class="table-cell">
			    	<div class="circle second"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle third"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle fourth"></div>
			    </div>
			    <div class="table-cell results">
			    	<div class="table-2">
			    		<div class="table-row">
			    			<div class="table-cell feedback-1"></div>
			    			<div class="table-cell feedback-2"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="table-cell feedback-3"></div>
			    			<div class="table-cell feedback-4"></div>
			    		</div>
			    	</div>
			    </div>
			    <div class="table-cell">
			    	<% if board.size == 1 %>
			    	<div class="action-button button">CHECK</div>
			    	<% elsif board.size < 1 %>
			    	<div class="action-button-disable">CHECK</div>
			    	<% else %>
			    	<div class="action-button-pressed"></div>
			    	<% end %>
			    </div>
				</div>
				<div class="table-row" id="table-row-1">
					<div class="table-cell numeration">1</div>
				 	<div class="table-cell">				 		
				 		<div class="circle first"></div>
				 	</div>
			    <div class="table-cell">
			    	<div class="circle second"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle third"></div>
			    </div>
			    <div class="table-cell">
			    	<div class="circle fourth"></div>
			    </div>
			    <div class="table-cell results">
			    	<div class="table-2">
			    		<div class="table-row">
			    			<div class="table-cell feedback-1"></div>
			    			<div class="table-cell feedback-2"></div>
			    		</div>
			    		<div class="table-row">
			    			<div class="table-cell feedback-3"></div>
			    			<div class="table-cell feedback-4"></div>
			    		</div>
			    	</div>
			    </div>
			    <div class="table-cell">
			    	<% if board.size == 0 %>
			    	<div class="action-button button">CHECK</div>
			    	<% elsif board.size < 1 %>
			    	<div class="action-button-disable">CHECK</div>
			    	<% else %>
			    	<div class="action-button-pressed"></div>
			    	<% end %>
			    </div>
				</div>
			</div>
		</div>		
	</div>



	<script src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript">	
		
		
			<%= "$(\"#table-row-#{board.size + 1} .circle:not(.action-button)\").on('mouseleave', function(){ " %>
				$(this).toggleClass("glowing-border");
				$(this).empty();
			});
			$(".table-row .circle:not(.action-button)").on("click", ".circle", function(){
					var colour = $(this).css('background-color');
					closest = $(this).parents(".circle");
					closest.css("background-color", colour);
				});

			<%= "$(\"#table-row-#{board.size + 1} .circle:not(.action-button)\").on('mouseenter', function(){ " %>
				$(this).toggleClass("glowing-border");
				var popup = 
					"<div class='table-colours-container'>" +
					"<div class='table-of-colours'>" + 
						"<div class='row-of-colours'>" +
							<% colours.size.times do |i| %>
								"<div class='cell-of-colours'>" +
									<%= "\"<div class='circle colour-#{i}'></div>\"" %>
								+ "</div>" +
							<% end %>
						"</div>" +
					"</div>" +
					"<div>";
				var palette = $(this).append( popup );	
			});	
	
			<% current_row = "#table-row-#{board.size + 1}" %>

			$("<%= current_row%> .action-button").on('click', function(){
				first_colour_back = $("<%=current_row %> .first").css("background-color")
				second_colour_back = $("<%=current_row %> .second").css("background-color")
				third_colour_back = $("<%=current_row %> .third").css("background-color")
				fourth_colour_back = $("<%=current_row %> .fourth").css("background-color")
				url = "http://localhost:4567/new_move";

			var form_string =	"<form method='post' action='/new_move' style='display: none'>" +
									"<input type='text' name='first_colour' value='"+ first_colour_back +
									"'><input type='text' name='second_colour' value='"+ second_colour_back +
									"'><input type='text' name='third_colour' value='"+ third_colour_back +
									"'><input type='text' name='fourth_colour' value='"+ fourth_colour_back +
									"'></form>";

				var form = $( form_string );			
				$(this).append(form);			
				form.submit();
			});

			$("#button-give-up").on('click', function(){
				var form_string =	"<form method='post' action='/give_up' style='display: none'></form>"
				var form = $( form_string );
				$(this).append(form);			
				form.submit();
				$(this).empty();				
			});
			$("#button-restart").on('click', function(){
				var form_string =	"<form method='post' action='/restart' style='display: none'></form>"
				var form = $( form_string );
				$(this).append(form);			
				form.submit();
				$(this).empty();				
			});
	</script>

	
</body>
</html>